<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelf</title>
</head>
<body>
    Hello world

    <ul>
        {% for book in books %}
        <li> {{ book.id }} - {{ book.title }} by {{ book.author }}</li>
        {% endfor %}
    </ul>

    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="title">
        <input type="text" name="author" placeholder="author">
        <button type="submit">save</button>
    </form>
</body>
</html>